* {
    background-color: rgba(45, 106, 79, 0.39); /* Verde suave */
    color: rgb(15, 20, 25); /* Cor de texto (escura) */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Cor neutra de fundo */
}

/* Cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: rgba(45, 106, 79);
}

header .btn.btn-primary {
    background-color: #f07c33; /* Laranja para botões de ação */
    border: none;
}

header span {
    font-size: 2rem;
    color: #0f1419;
}

/* Sobre o site*/

.flex-container {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.about {
    flex: 1;
    background-color: rgba(45, 106, 79, 0.39);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: #ffffff;
    padding: 16px;
}

.about p {
    background-color: transparent;
}

.about h1 {
    background-color: transparent;
}

/* Conteúdo Principal */
aside {
    width: 250px;
    padding: 16px;
    align-content: center;
    background-color: transparent;
    border: none;
}

aside .d-grid {
    background-color: transparent;
    border: none;
}

aside .btn.btn-primary {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #f07c33; /* Laranja para botões de ação */
    border: none;
}

aside .btn.btn-primary:hover {
    background-color: #d66f2f; /* Laranja mais escuro ao passar o mouse */
}

/* Estilo dos Cards */
.card-img-top {
    border-radius: 8px 8px 0 0; /* Arredondar a parte superior da imagem */
}

.card-body {
    padding: 16px;
}

.card .btn {
    background-color: #f07c33; /* Laranja para botões nos cards */
    color: #ffffff;
    border: none;
}

.card .btn:hover {
    background-color: #d66f2f; /* Laranja mais escuro ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .col-md-4 {
        /* Em telas menores, os cards ocuparão toda a largura */
        width: 100%;
    }
}

/* Botão Mostrar Mais */
.btn-secondary {
    background-color: #0fce7a; /* Verde escuro para botões secundários */
    color: #ffffff;
    border: none;
}

.btn-secondary:hover {
    background-color: #234e36;
}

/* Alimentos */

.container {
    margin: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(45, 106, 79, 0.39);
    padding: 16px;
}

.container h1 {
    background-color: transparent;
}

div.row {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

div.col-md-4.mb-4 {
    margin: 8px;
    padding: 8px;
    border: solid rgba(0, 186, 124, 0.1) 8px;
}

div.text-center.mt-4 {
    margin-top: 8px;
    text-align: center;
    background-color: transparent;
}